---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="flex justify-center flex-col lg:flex-row lg:space-x-56">
  <div class="mt-5">
    <h1>Projects</h1>
    <ul class="divide-y divide-gray-200">
      <li class="py-4 flex">
        <img
          class="h-10 w-10"
          src="https://github.com/TedisAgolli/runneth/raw/master/public/runneth_128.png"
          alt=""
        />
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">Runneth</p>
          <p class="text-sm text-gray-500">
            Runneth is a bookmark manager that forces you to prioritize.
          </p>
        </div>
        <a
          href="https://chrome.google.com/webstore/detail/dmihmacgmljciebmenpanbfkllboajkl"
          target="_blank"
          title="Install Chrome extension"
        >
          <img src="img/chrome.svg" alt="" class="w-8 h-8 ml-1 max-w-none" />
        </a>
        <a
          href="https://addons.mozilla.org/en-US/firefox/addon/runneth/?src=search"
          target="_blank"
          title="Install Firefox extension"
        >
          <img
            src="img/firefox.svg"
            class="w-8 h-8 ml-1 max-w-none"
            alt=""
            srcset=""
          />
        </a>
      </li>
      <li class="py-4 flex">
        <img
          class="h-10 w-12"
          src="https://github.com/TedisAgolli/hex-to-tailwind-vscode/raw/master/screenshots/hex-to-tailwind-icon.png"
          alt=""
        />
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">Hex to Tailwind</p>
          <p class="text-sm text-gray-500">
            Convert hex to the closest Tailwind preset using the Delta E
            algorithm.
          </p>
        </div>
        <a
          href="https://tailwind-color-finder.vercel.app/"
          target="_blank"
          title="Go to website"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-10 h-10 text-blue-500 ml-1 max-w-"
          >
            <path
              fill-rule="evenodd"
              d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z"
              clip-rule="evenodd"
            /></svg
        ></a>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=TedisAgolli.hex-to-tailwind"
          target="_blank"
          title="Install VSCode extension"
        >
          <img
            src="img/vscode.svg"
            alt="vscode icon"
            class="w-10 h-10 mt-1 ml-1 max-w-none"
          />
        </a>
      </li>
      <li class="py-4 flex">
        <img
          class="h-10 w-10"
          src="https://lh3.googleusercontent.com/z5X-SlRf-HijWarsDzFkVfCEvCx-nAg6fw5h0HomeYpV8xAW6oCH-2a9x6ZkJsZPIdg2ijxz6lBwjrk1r76hgWJJ4g=w128-h128-e365-rj-sc0x00ffffff"
          alt=""
        />
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">Mailtosucks</p>
          <p class="text-sm text-gray-500">
            Set mailto link text to the actual email and copy it on click.
          </p>
        </div>
        <a
          href="https://chrome.google.com/webstore/detail/mailtosucks/fggephiinjbfhbdglakghlfmapinaefp"
          target="_blank"
          title="Install Chrome extension"
        >
          <img src="img/chrome.svg" alt="" class="w-8 h-8 ml-1 max-w-none" />
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <h1>Latest Posts</h1>
    {% set postslist = collections.posts | head(-3) %} {% set postslistCounter =
    collections.posts | length %} {% include "postslist.njk" %}
    <p>
      More posts can be found in
      <a href="{{ '/posts/' | url }}">the archive</a>.
    </p>
  </div>
</div>
