---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="flex justify-center flex-col lg:flex-row lg:space-x-56">
  <div class="mt-2">
    <h1>Projects</h1>
    <ul class="divide-y divide-gray-200">
      <li class="py-4 flex justify-between">
        <div class="flex items-center">
          <img class="h-10 w-10" src="./img/readwiseNewTabIcon.png" alt="" />
          <div class="ml-3">
            <a
              href="https://chrome.google.com/webstore/detail/readwise-new-tab/iigdkhmjendealedklplakommgjpnhpg?hl=en&authuser=0"
              target="_blank"
              rel="noopener"
              title="Install Chrome extension"
            >
              <p class="text-lg font-bold text-gray-900">Readwise New Tab</p>
            </a>
            <p class="text-sm text-gray-500 max-w-lg">
              Show a random quote from your Readwise account in your new tab.
            </p>
          </div>
        </div>
        <div class="flex">
          <a
            href="https://chrome.google.com/webstore/detail/readwise-new-tab/iigdkhmjendealedklplakommgjpnhpg?hl=en&authuser=0"
            target="_blank"
            rel="noopener"
            title="Install Chrome extension"
            class="flex items-center"
          >
            <img
              src="img/chrome.svg"
              alt=""
              class="w-10 h-10 ml-1 max-w-none"
            />
          </a>
        </div>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex items-center">
          <img class="h-10 w-10" src="./img/linkedinToRoam_48.png" alt="" />
          <div class="ml-3">
            <a
              href="https://chrome.google.com/webstore/detail/linkedin-to-roam/dfcmgednolpnnpnmefhkiifhlddkfapk?hl=en&authuser=0"
              target="_blank"
              rel="noopener"
              title="Install Chrome extension"
            >
              <p class="text-lg font-bold text-gray-900">Linkedin to Roam</p>
            </a>
            <p class="text-sm text-gray-500 max-w-lg">
              Extension that adds an "Add to Roam" button to every profile on
              Linkedin. Clicking it adds the contact to a page in your Roam
              graph called "linkedin".
            </p>
          </div>
        </div>
        <div class="flex">
          <a
            href="https://chrome.google.com/webstore/detail/linkedin-to-roam/dfcmgednolpnnpnmefhkiifhlddkfapk?hl=en&authuser=0"
            target="_blank"
            rel="noopener"
            title="Install Chrome extension"
            class="flex items-center"
          >
            <img
              src="img/chrome.svg"
              alt=""
              class="w-10 h-10 ml-1 max-w-none"
            />
          </a>
        </div>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex items-center">
          <img class="h-10 w-10" src="./img/tailwindEyedropper.png" alt="" />
          <div class="ml-3">
            <a
              href="https://chrome.google.com/webstore/detail/tailwind-eye-dropper/nilniojlolabjlhbkhejlokeffohkanp"
              target="_blank"
              rel="noopener"
              title="Install Chrome extension"
            >
              <p class="text-lg font-bold text-gray-900">Tailwind Eyedropper</p>
            </a>
            <p class="text-sm text-gray-500 max-w-lg">
              Tailwind Eye Dropper is an extension that allows you to pick
              colors from web pages and convert them to a Tailwind preset
            </p>
          </div>
        </div>
        <div class="flex">
          <a
            href="https://chrome.google.com/webstore/detail/tailwind-eye-dropper/nilniojlolabjlhbkhejlokeffohkanp"
            target="_blank"
            rel="noopener"
            title="Install Chrome extension"
            class="flex items-center"
          >
            <img
              src="img/chrome.svg"
              alt=""
              class="w-10 h-10 ml-1 max-w-none"
            />
          </a>
        </div>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex">
          <img
            class="h-10 w-10"
            src="https://github.com/TedisAgolli/runneth/raw/master/public/runneth_128.png"
            alt=""
          />
          <div class="ml-3">
            <a
              href="https://chrome.google.com/webstore/detail/dmihmacgmljciebmenpanbfkllboajkl"
              target="_blank"
              rel="noopener"
              title="Install Chrome extension"
            >
              <p class="text-lg font-bold text-gray-900">Runneth</p>
            </a>
            <p class="text-sm text-gray-500">
              Runneth is a bookmark manager that forces you to prioritize.
            </p>
          </div>
        </div>
        <div class="flex">
          <a
            href="https://chrome.google.com/webstore/detail/dmihmacgmljciebmenpanbfkllboajkl"
            target="_blank"
            rel="noopener"
            title="Install Chrome extension"
            class="flex items-center"
          >
            <img
              src="img/chrome.svg"
              alt=""
              class="w-10 h-10 ml-1 max-w-none"
            />
          </a>
          <a
            href="https://addons.mozilla.org/en-US/firefox/addon/runneth/?src=search"
            target="_blank"
            rel="noopener"
            title="Install Firefox extension"
            class="flex items-center"
          >
            <img
              src="img/firefox.svg"
              class="w-10 h-10 ml-1 max-w-none"
              alt=""
              srcset=""
            />
          </a>
        </div>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex">
          <img class="h-10 w-10" src="img/htt-icon.png" alt="" />
          <div class="ml-3">
            <a
              href="https://tailwind-color-finder.vercel.app/"
              target="_blank"
              rel="noopener"
              title="Go to website"
            >
              <p class="text-lg font-bold text-gray-900">Hex to Tailwind</p>
            </a>
            <p class="text-sm text-gray-500">
              Convert hex to the closest Tailwind preset using the Delta E
              algorithm.
            </p>
          </div>
        </div>
        <div class="flex">
          <a
            href="https://tailwind-color-finder.vercel.app/"
            target="_blank"
            rel="noopener"
            title="Go to website"
            class="flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-10 h-10 text-blue-500 ml-1 max-w-"
            >
              <path
                fill-rule="evenodd"
                d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          <a
            href="https://marketplace.visualstudio.com/items?itemName=TedisAgolli.hex-to-tailwind"
            target="_blank"
            rel="noopener"
            title="Install VSCode extension"
            class="flex items-center"
          >
            <img
              src="img/vscode.svg"
              alt="vscode icon"
              class="w-10 h-10 mt-1 ml-1 max-w-none"
            />
          </a>
        </div>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex">
          <img
            class="h-10 w-10"
            src="https://raw.githubusercontent.com/TedisAgolli/mailtosucks/master/email.png"
            alt=""
          />

          <div class="ml-3">
            <a
              href="https://chrome.google.com/webstore/detail/mailtosucks/fggephiinjbfhbdglakghlfmapinaefp"
              target="_blank"
              rel="noopener"
              title="Install Chrome extension"
            >
              <p class="text-lg font-bold text-gray-900">Mailtosucks</p></a
            >
            <p class="text-sm text-gray-500">
              Set mailto link text to the actual email and copy it on click.
            </p>
          </div>
        </div>
        <a
          href="https://chrome.google.com/webstore/detail/mailtosucks/fggephiinjbfhbdglakghlfmapinaefp"
          target="_blank"
          rel="noopener"
          title="Install Chrome extension"
          class="flex items-center"
        >
          <img
            src="img/chrome.svg"
            alt=""
            class="w-10 h-10 ml-1 max-w-none items-center"
          />
        </a>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex">
          <img class="h-10 w-10" src="img/paybuilders.png" alt="" />
          <div class="ml-3">
            <a
              href="https://pay.builders"
              target="_blank"
              rel="noopener"
              title="Pay.Builders website"
            >
              <p class="text-lg font-bold text-gray-900">Pay.Builders</p>
            </a>
            <p class="text-sm mr-1 text-gray-500">
              Companies should provide funds for their developers to sponsor
              open-source projects.
            </p>
          </div>
        </div>
        <a
          href="https://pay.builders"
          target="_blank"
          rel="noopener"
          title="Pay.Builders website"
          class="flex items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-10 h-10 text-blue-500 items-center"
          >
            <path
              fill-rule="evenodd"
              d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex">
          <svg
            width="40"
            height="40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M35 16.6667c0 11.6666-15 21.6666-15 21.6666s-15-10-15-21.6666c0-3.9783 1.58035-7.7936 4.3934-10.60665C12.2064 3.24701 16.0218 1.66666 20 1.66666s7.7936 1.58035 10.6066 4.39339C33.4196 8.8731 35 12.6884 35 16.6667z"
              stroke="#DC143C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M20 21.6667c2.7614 0 5-2.2386 5-5 0-2.7615-2.2386-5-5-5s-5 2.2385-5 5c0 2.7614 2.2386 5 5 5z"
              stroke="#DC143C"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="ml-3">
            <a
              href="/commute-tile-generator"
              target="_blank"
              rel="noopener"
              title="Pay.Builders website"
            >
              <p class="text-lg font-bold text-gray-900">
                Commute tile generator
              </p>
            </a>
            <p class="text-sm mr-1 text-gray-500">
              Generate a badge that displays the commute time between two
              points.
            </p>
          </div>
        </div>
        <a
          href="/commute-tile-generator"
          target="_blank"
          rel="noopener"
          title="Pay.Builders website"
          class="flex items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-10 h-10 text-blue-500 items-center"
          >
            <path
              fill-rule="evenodd"
              d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <h1>Posts</h1>
    {% set postslist = collections.posts | head(-3) %} {% set postslistCounter =
    collections.posts | length %} {% include "postslist.njk" %}
    <p>
      More posts can be found in
      <a href="{{ '/posts/' | url }}">the archive</a>.
    </p>
  </div>
</div>
